In [13]:
from lazypredict.Supervised import LazyClassifier, LazyRegressor
from sklearn.model_selection import train_test_split
import pandas as pd

# converting categorical features to object datatypes

In [14]:

l = ['HomePlanet_Europa', 'HomePlanet_Mars', 'Destination_PSO J318.5-22','Destination_TRAPPIST-1e','CryoSleep_True', 'VIP_True', 
     'Expense_encoded', 'Deck_fact',	'Cabin_side_fact']
for i in l:
    x_train[i] = data[i].astype(object)

NameError: name 'data' is not defined

In [ ]:
X = data.iloc[:,2:]
Y = data.iloc[:,1:2]

In [ ]:
X

,HomePlanet_Europa,HomePlanet_Mars,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,CryoSleep_True,VIP_True,Expense_scaled,Expense_encoded,Age_scaled,Group_id,Member_id,Name_Length,Group_members,Deck_fact,Cabin_side_fact,Cabin_Num
0,1,0,0,1,0,0,-0.73,0.00,0.71,1,1,15,1,1,0,0
1,0,0,0,1,0,0,-0.29,1.00,-0.34,2,1,12,1,5,1,0
2,1,0,0,1,0,1,2.83,1.00,2.04,3,1,13,2,0,1,0
3,1,0,0,1,0,0,2.41,1.00,0.29,3,2,12,2,0,1,0
4,0,0,0,1,0,0,-0.07,1.00,-0.90,4,1,17,1,5,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,1,0,0,0,0,1,2.83,1.00,0.85,9276,1,17,1,0,0,98
8689,0,0,1,0,1,0,-0.73,0.00,-0.76,9278,1,15,1,6,1,1499
8690,0,0,0,1,0,0,0.41,1.00,-0.20,9279,1,12,1,6,1,1500
8691,1,0,0,0,0,0,2.09,1.00,0.22,9280,1,16,2,4,1,608
8692,1,0,0,1,0,0,2.20,1.00,1.06,9280,2,16,2,4,1,608

# Training without any feature selection

In [ ]:
train_x, test_x,train_y, test_y = train_test_split(X,Y, shuffle = True)

In [ ]:
train_x

,HomePlanet_Europa,HomePlanet_Mars,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,CryoSleep_True,VIP_True,Expense_scaled,Expense_encoded,Age_scaled,Group_id,Member_id,Name_Length,Group_members,Deck_fact,Cabin_side_fact,Cabin_Num
7117,1,0,0,0,1,0,-0.73,0.00,0.15,7585,1,18,4,2,1,281
7200,1,0,0,1,0,0,-0.73,0.00,0.78,7693,2,17,2,1,0,252
3057,0,1,0,1,0,0,0.35,1.00,1.27,3300,2,8,2,5,0,688
3828,0,1,0,1,0,0,-0.05,1.00,1.20,4096,1,11,1,5,0,842
5511,0,0,0,1,1,0,-0.73,0.00,-1.25,5880,1,13,1,6,0,953
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,0,0,0,1,0,0,-0.28,1.00,-0.41,545,1,13,1,5,0,111
8536,0,0,1,0,0,0,0.01,1.00,1.69,9115,1,13,1,5,0,1867
7153,1,0,0,1,0,0,1.37,1.00,0.29,7631,1,11,1,4,0,497
6235,0,0,0,0,1,0,-0.73,0.00,0.36,6594,1,14,1,6,0,1067
869,0,0,0,1,0,0,-0.01,1.00,-0.69,931,1,14,1,5,0,193

In [ ]:
y_train

      Unnamed: 0  Transported
0              0            0
1              1            1
2              2            0
3              3            0
4              4            1
...          ...          ...
8688        8688            0
8689        8689            0
8690        8690            1
8691        8691            0
8692        8692            1

[8693 rows x 2 columns]

In [15]:
x_train = pd.read_csv(r'x_train.csv')
x_test = pd.read_csv(r'x_test.csv')
y_train= pd.read_csv(r'y_train.csv')

In [21]:
x_train = x_train.iloc[:, 1:]
y_train = y_train.iloc[:, 1:]

In [26]:
train_x, test_x,train_y, test_y = train_test_split(x_train,y_train, shuffle = True)

In [27]:
train_x

,HomePlanet_Mars,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,CryoSleep_True,VIP_True,Expense_scaled,Expense_encoded,Age_scaled,Group_id,Member_id,Name_Length,Group_members,Deck_fact,Cabin_side_fact,Cabin_Num
4531,1,0,1,0,0,-0.09,1.00,2.53,4818,1,10,1,3,1,150
3147,0,1,0,0,0,-0.29,1.00,-0.69,3394,1,17,1,5,0,700
7592,0,0,0,1,1,-0.73,0.00,1.76,8117,3,15,3,1,1,319
7793,1,0,0,1,0,-0.73,0.00,-2.01,8318,4,11,4,5,0,1711
5069,1,0,1,0,0,0.06,1.00,0.08,5416,2,7,4,4,0,340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4869,0,0,0,1,0,-0.73,0.00,-0.90,5194,2,16,2,1,0,176
8684,1,0,1,1,0,-0.73,0.00,-0.41,9274,1,15,1,6,0,1508
5612,1,0,1,0,0,0.22,1.00,1.27,5971,1,12,1,5,0,1230
6794,0,0,1,0,0,1.47,1.00,-0.27,7176,3,14,3,2,0,232
143,0,0,1,0,0,0.60,1.00,1.97,164,1,15,2,6,1,28

In [28]:
clf = LazyClassifier(predictions=True)

models, predictions = clf.fit(train_x, test_x,train_y, test_y)

 90%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‰ | 26/29 [00:34<00:05,  1.69s/it]

[19:45:57] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 29/29 [00:36<00:00,  1.25s/it]

In [29]:
models

,Accuracy,Balanced Accuracy,ROC AUC,F1 Score,Time Taken
Model,,,,,
LGBMClassifier,0.75,0.75,0.75,0.75,0.29
BaggingClassifier,0.74,0.74,0.74,0.74,0.57
RandomForestClassifier,0.74,0.74,0.74,0.74,1.72
NuSVC,0.73,0.73,0.73,0.73,7.46
AdaBoostClassifier,0.73,0.73,0.73,0.73,0.71
XGBClassifier,0.73,0.73,0.73,0.73,0.99
ExtraTreesClassifier,0.73,0.73,0.73,0.73,1.43
LinearDiscriminantAnalysis,0.73,0.73,0.73,0.73,0.06
RidgeClassifierCV,0.73,0.73,0.73,0.73,0.05
RidgeClassifier,0.73,0.73,0.73,0.73,0.05
LinearSVC,0.73,0.73,0.73,0.73,1.17
CalibratedClassifierCV,0.73,0.72,0.72,0.73,4.17
SVC,0.73,0.72,0.72,0.72,5.93
LogisticRegression,0.72,0.72,0.72,0.72,0.07
SGDClassifier,0.72,0.72,0.72,0.72,0.11
BernoulliNB,0.72,0.72,0.72,0.72,0.04
KNeighborsClassifier,0.72,0.72,0.72,0.72,0.62
NearestCentroid,0.72,0.72,0.72,0.72,0.03
GaussianNB,0.72,0.71,0.71,0.72,0.04
QuadraticDiscriminantAnalysis,0.71,0.71,0.71,0.71,0.05
LabelSpreading,0.68,0.68,0.68,0.68,5.97
LabelPropagation,0.68,0.68,0.68,0.68,4.40
DecisionTreeClassifier,0.68,0.68,0.68,0.68,0.12
PassiveAggressiveClassifier,0.68,0.67,0.67,0.67,0.06
ExtraTreeClassifier,0.66,0.66,0.66,0.66,0.05
Perceptron,0.62,0.62,0.62,0.62,0.04
DummyClassifier,0.48,0.50,0.50,0.31,0.03